// Fonts
$font: 'Neco one', italic;

// BG
$purple-bg: linear-gradient(to right, #6a82fb, #fc5c7d);
$transparent-bg: transparent;
$white-bg: #fff;
$dark-black-bg: #000;
$orange-bg: #ffbb00;
$gray-bg: #999999;
$black-bg: #272727;
$transparent-bg: transparent;
$blue-bg: #29b6cf;

// Text
$black-text: #272727;
$white-text: #fff;
$gray-text: #999999;
$orange-text: #ffbb00;
$transparent-text: transparent;

//border
$white-border: #fff;
$black-border: #272727;
$gray-border: #999999;
$orange-border: #ffbb00;

//Gatters
$gutter: 2rem;
